PORT=3000

DSE_SHAREPOINT_HOSTNAME=VOTRE-TENANT.sharepoint.com
DSE_SHAREPOINT_SITE_PATH=/sites/VOTRE-SITE

DSE_ALLOWED_ORIGINS=https://www.dseco.fr,https://dseco.fr

DSE_TENANT_ID=
DSE_CLIENT_ID=
DSE_CLIENT_SECRET=
